<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 
<body>
  <%- include("partials/navbar.ejs") %>
  <div class="container mt-4">
    <h2>Corona</h2>
    <ul>
        <% corona.forEach(data => { %>
            <li <% if (data.attributes.Kasus_Meni>= 2000) { %> style="color: red"<% }
                else if (data.attributes.Kasus_Meni >= 1000) {%>style="color: orange"<% }
                    else { %> style="color: green"<% } %>
                            >
                            <%= data.attributes.Provinsi %>:
                                <%= data.attributes.Kasus_Meni %>
            </li>
        <% }) %>
    </ul>
  </div>
</body>
</html>